@font-face {
  font-family: "Regular";
  src: url("../fonts/ModernGothicTrial-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Italic";
  src: url("../fonts/Karrik-Italic.woff");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgb(255, 255, 255);
  --color-text: rgb(5, 5, 5);
  --color-text-link: rgba(244, 128, 128, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: "Regular";
  --font-weight: Regular;
  --font-size: 0.85rem;
  /* Margin value */
  padding-left: 0.2rem;
  padding-right: 1rem;
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  /* flex-direction: column; */
  background-color: var(--color-background);
  /* font: var(--font-size) var(--font-family); */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 0.5rem;

  /* background-color: blue; */
  /* position: relative; */
  /* background-image: url('content/memory-1-layers-1.png'); */
  z-index: 0;
}
img {
  margin-top: 0.55rem;
}

figcaption {
  font-size: 0.85rem;
  /* margin-left: 6rem; */
}

nav {
  width: 100vw;
  height: 100vh;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: grid-template-columns 0.3s ease;
  gap: 0px;
}

nav > div {
  max-height: 50vh;
  position: relative;
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, transparent 100%);
  cursor: pointer;
}

.active {
  mask-image: initial;
}

h2 {
  /* transition: 0.3s ease; */
}

.active > .cont {
  background-color: white;
  z-index: 1000;
  position: absolute;
}

.active > .cont > h2 {
  /* height: 1.25rem; */
  background-color: #ffffff;
  text-indent: 6rem;
  font-size: 1.2rem;
  transition: 0.3s ease;

  height: 6rem;
}

nav > div > .cont {
  max-height: 50vh;
  transition: max-height ease 0.3s;
  overflow: hidden;
  box-shadow: inset 0 0 10px #ffffff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox*/
}

nav > .active > .cont {
  max-height: 100vh !important;
  overflow: scroll;
}

nav > div > .cont > article {
  filter: blur(60px);
}

.active > .cont > article {
  filter: blur(0px);
}

.second > .cont {
  bottom: -1rem;
}

.title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0rem;
  color: #000000;
}

.cont > .title-grid > .title-grid2 {
  color: #ffffff;
}

.active > .cont > .title-grid > .title-grid2 {
  color: rgb(0, 0, 0);
  text-transform: none;
}

.title-grid2 {
  /* font-weight: 600; */
  margin-left: -0.3rem;
}

.poem {
  /* color: blue; */
  color: black;
  transition: ease 0.3s;
  /* font-size: 1.2rem; */
}

.poem.colurd {
  /* font-weight: 500; */
  font-style: italic;
  text-transform: none;
  transition: ease 0.3s;
  color: rgb(0, 0, 0);
  /* font-size: 1.2rem; */
}

ol {
  font-size: 1rem;
  margin-left: 1.7rem;
  /* margin-left: 6rem; */
  list-style: decimal;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
li {
  padding-left: 4rem;
}
h2 {
  /* margin-left: 8rem; */
  text-transform: uppercase;
}

.block-title {
  width: 100%;
}

.intro {
}

p {
  /* margin-bottom: 0.5rem; */
  text-indent: 6rem;
}

figcaption {
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  text-indent: 6rem;
  margin-bottom: 6rem;
}

.footnote {
  font-size: 0.75rem;
}

main.part0-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  max-height: 100vh;
  height: auto;
  box-sizing: border-box;
  counter-reset: footnotes;
  font-size: 1rem;
  /* padding-left: 0.5rem; */
  padding-right: 0.5rem;
}

.part0-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part0-block:nth-of-type(3) {
  margin-top: 6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-indent: 6rem;
}
.part0-block:nth-of-type(4) {
  width: 100%;
  margin-bottom: 40vh;
  margin-top: 8rem;
  font-size: 2.3rem;
  letter-spacing: -0.02rem;
  line-height: 2.2rem;
  font-weight: 500;
  /* margin-bottom: 20rem; */
}
.part0-block:nth-of-type(1) {
  width: 50%;
  font-size: 1.2rem;

  /* margin-top: 12rem; */

  /* color: blueviolet; */
  /* margin-top: -2rem; */
}
.part0-block:nth-of-type(2) {
  width: 50%;
  font-size: 1.2rem;
  /* margin-top: 12rem; */

  /* margin-top: -2rem; */
}
/* 1 /////INtroduction/// */
main.part1-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  counter-reset: footnotes;
  font-size: 1.2rem;
  margin-top: 18rem;
}

.part1-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part1-block:nth-of-type(1) {
  /* margin-top: 20rem; */
}

/* 2 /////Becoming/// */
main.part2-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  counter-reset: footnotes;
  font-size: 1.2rem;
  margin-top: 18rem;
  /* margin-bottom: 6rem; */
}

.part2-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part2-block:nth-of-type(2) {
  width: 97%;
}
/* 3 /////Hyper-invizible/// */
main.part3-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  counter-reset: footnotes;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  margin-top: 18rem;
  padding-right: 0.5rem;
  margin-bottom: 6rem;
}

.part3-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part3-block:nth-of-type(1) {
}
.part3-block:nth-of-type(3) {
  width: 100%;
}
/* 4 /////Like the fall of icarus/// */
main.part4-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  margin-top: 18rem;
  margin-bottom: 6rem;
}

.part4-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part4-block:nth-of-type(4) {
  width: 100%;
  /* text-indent: 6rem; */
}

.part4-block:nth-of-type(5) {
  width: 100%;
  /* margin-left: 1.25rem; */
  /* text-indent: 6rem; */
  margin-bottom: 2rem;
}

/* 5 /////Intertwine/// */
main.part5-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-top: 18rem;
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.part5-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

/* 6 /////Into the noise/// */
main.part6-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-top: 18rem;
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.part6-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

/* 7 /////Conclusion// */
main.part7-container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-top: 18rem;
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.part7-block {
  position: relative;
  display: block;
  float: left;
  clear: right;
  margin: 0rem;
  padding: 0rem;
}

.part7-block:nth-of-type(2) {
  stroke: #000000 1px;
  margin-top: 6rem;
  text-indent: 6rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.cont > h2 {
  position: sticky;
  top: 0;

  z-index: 2;
}

/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media screen and (max-width: 779px) {
  /* your 'mobile' overriding css properties here */

  * {
    color: rgb(0, 0, 0) !important;
    width: 100%;
    top: 0;
    padding: 0;
  }

  p {
    flex-wrap: wrap;
    padding-right: 1.2rem;
  }

  nav {
    /* display: flex; 
    flex-wrap: wrap; */
    display: block;
    position: sticky;
    justify-content: baseline;
    align-items: start;
    width: 100%;
  }

  /* .cont {
    position: static;
    background-color: white;
  } */

  .active > .cont {
    z-index: 900;
  }

  /* utility classes, mobile */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
  .active {
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: #ffffff;
  }
  .second > .cont {
    /* top: 0; */
    bottom: -77.5rem;
  }
  li {
    flex-wrap: wrap;
  }
  figcaption {
    text-indent: 0;
    margin-bottom: 3rem;
  }
  img {
    padding-right: 1.2rem;
  }
  ol {
    font-size: 1rem;
    margin-left: 1.7rem;
    /* margin-left: 6rem; */
    list-style: decimal;
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  li {
    padding-left: 3rem;
    padding-right: 1rem;
  }
  .part3-block:nth-of-type(9) {
    width: 94%;
  }
  .part4-block:nth-of-type(4) {
    width: 94%;
  }
  .part5-block:nth-of-type(3) {
    width: 94%;
  }
  .part6-block:nth-of-type(2) {
    width: 94%;
  }
  .part7-block:nth-of-type(3) {
    width: 94%;
  }
}

/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {
  /* your overriding css properties here */
}

/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {
  /* your overriding css properties here */
}

/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {
  /* your overriding css properties here */
}
